Learning/Algorithms/
Learning/cs50p/
Learning/dataScience/
Learning/free_lancing/
Learning/jupyter_practice.ipynb
Learning/My_practice/
Learning/practice_with_simon/
Learning/tests_and_quizes/
Learning/udemy_projects/
Learning/iterator_quiz.py

.vscode/
.env
__pycache__/
*.pyc
.DS_Store